

body {
  background: #FF4D38;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color:white;
  font-weight: 500;
  background: linear-gradient(to right, #EF5333 , #FB2C55);


}

nava {
  margin-bottom: 20px;

}

table {
  background: white;
  max-width: 400px;
  margin: 10px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

td {
  padding-right: 15px;
  padding-left: 15px;
}


.btn {
  color: navy;
  background: #FF4D38;
  margin-bottom: 10px;
  margin-left: 5px;
}

.material-icons{
  color: #FF4D38;
  font-size: 50px;
}

}
