

@media screen and (min-width: 30px) and (max-width: 720px){

  .nav {
    position: fixed;
    width: 100%;
    z-index: 3;

  }

  .menu-logo {
    height: 60px;
    padding: 10px;
    padding-left: 45px;
  }

  .account-image {
    width: 250px;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
    display: none;
  }

  .left-iphone-image {
    width: 250px;
    margin-top: 50px;
    vertical-align: bottom;
    display: none;
  }
  .right-iphone-image {
    width: 250px;
    margin-top: 50px;
    vertical-align: bottom;
    margin-left: auto;
    display: none;

  }

  .center-iphone-image {
    width: 250px;
    margin-top: 50px;
    vertical-align: bottom;
    margin-left: auto;
  }

  .social-image {
    width: 50px;
    margin: 10px;
  }

  ul#menu {
    opacity: 1;
    font-size: 1em;
    color: white;
    list-style: none;
    overflow: hidden;
  }

  ul#menu li {
    float:right;
    padding: 20px;
  }

  ul#menu li:hover, ul#menu li.selected{
    color: navy;
    cursor: pointer;
  }

  .feat {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
  }

  .detail-column{
    vertical-align: top;
    text-align: center;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    display: none;
  }

  .first-column{
    vertical-align: middle;
    text-align: center;
  }

  .product-showcase{
    display: none;
    padding-left: 7px;
    padding-right: 100px;
  }
  .slogan {
    color: white;
  }
  .product-description{
    font-size: 1.5em;
  }
  h1{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
  }
  h2{
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
  }

  input{
    opacity: 1;
    font-size: 1em;
    border-radius: 7px;
    margin-right: 5px;
    border-style: solid;
    border-color: lightgray;
    margin-bottom: 10px;

  }
  .appstore-btn {
    width: 200px;
    float: left;
    display: inline;
    margin-left: 130px;
    margin-bottom: 30px;

  }

  .playstore-btn {
    display: none;
  }

  .press-image {
    width: 90px;
    float: left;
    margin: 15px;
  }

  .thanks {
    color: white;
    margin-top: 10px;
  }


    .btn-info, .round {
      border-radius: 10px;
      background-color: #0DC0FF;
    }

    .btn-info:hover {
      background-color: #0D91FF;
      border-color: white;
    }

    .white-button{
      background-color: white;
      border: 0;
      border-radius: 25px;
      color: navy;
    }

    .orange-button {
      background-color: #EF5333;
      border: 0;
      border-radius: 25px;
      color: white;
    }

  #top-container{
    display: table;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 80px;
    overflow: hidden;
    min-height: 95vh;
    text-align: center;
  }

  #terms-container{
    text-align: center;
    padding-bottom: 40px;
    overflow: hidden;
    z-index: 2;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
  }

  #task-container {
    background-color: #5A37FF;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-align: center;

    background: #5A37FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #4E09D3 , #5A37FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #4E09D3 , #5A37FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #4E09D3 , #5A37FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #4E09D3 , #5A37FF); /* Standard syntax */
  }

  #save-container {
    background-color: #18D37E;
    position: relative;
    text-align: center;
    z-index: 2;
    overflow: hidden;
    text-align: center;

    background: #18D37E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #1EC158 , #18D37E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #1EC158 , #18D37E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #1EC158 , #18D37E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #1EC158 , #00E682); /* Standard syntax */
  }

  #shop-container {
    background-color: #0DC0FF;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-align: center;

    background: #0DC0FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #0D88F7 , #0DC0FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #0D88F7 , #0DC0FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #0D88F7 , #0DC0FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #0D88F7 , #0DC0FF); /* Standard syntax */
  }

  #press-container {
    background-color: white;
    position: relative;
    z-index: 2;
    overflow: hidden;
    text-align: center;
  }

  #bottom-container {
    background-color: #21252B;
    position: relative;
    z-index: 2;
    overflow: hidden;
    color: white;
    text-align: center;
  }


  .social {
    color: white;
  }

  body {
    font-family: sans-serif;
    font-weight: 100;
    z-index: 0;

    background: #EF5333; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #EF5333 , #FB2C55); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #EF5333 , #FB2C55); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #EF5333 , #FB2C55); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #EF5333 , #FB2C55); /* Standard syntax */


  }
}

@media screen and (min-width: 30px) and (max-width: 375px) {
  .menu-logo {
    height: 60px;
    vertical-align: center;
    padding-left: 15px;
  }

  ul#menu {
    opacity: 1;
    font-size: 1em;
    color: white;
    list-style: none;
    overflow: hidden;
  }

  ul#menu li {
    float:right;
    padding-right: 15px;
    padding-left: 0px;
    margin-top: 10px;
  }

  .contact-li {
    display: none;
  }

  .feat {
    color: white;
    font-size: 1em;
    font-weight: 500;
    padding-left: 25px;
    padding-right: 25px;
  }

  .slogan {
    color: white;
  }
  .product-description{
    font-size: 1.5em;
  }
  .appstore-btn {
    margin-left: 75px;

  }
  h1{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
  }
  h2{
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
  }

}


/*
--Desktop --
*/

@media screen and (min-width: 720px){
  .nav {
    position: fixed;
    width: 100%;
    z-index: 3;
    background-color: -webkit-linear-gradient(left, #EF5333 , #FB2C55)
  }

  .menu-logo {
    height: 70px;
    padding: 10px;
    padding-left: 45px;
  }

  .feat {
    display: none;
  }

  .account-image {
    width: 250px;
    margin-left: 50px;
    margin-top: 100px;
    margin-right: 50px;
    display: block;
  }

  .left-iphone-image {
    width: 250px;
    margin-left: 150px;
    margin-top: 50px;
    display: block;
  }
  .right-iphone-image {
    width: 250px;
    margin-right: 150px;
    margin-top: 50px;
    display: block;
  }

  .center-iphone-image {
    display: none;
  }

  .social-image {
    width: 50px;
    margin: 10px;
  }

  ul#menu {
    opacity: 1;
    font-size: 1em;
    color: white;
    list-style: none;
    overflow: hidden;
  }

  ul#menu li {
    float:right;
    padding: 20px;
  }

  ul#menu li:hover, ul#menu li.selected{
    color: navy;
    cursor: pointer;
  }

  .detail-column{
    vertical-align: top;
    display: table-cell;
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 65px;
    width: 1000;
    color: white;
    font-size: 1.5em;
    font-weight: 500;
  }

  .first-column{
    vertical-align: middle;
    display: table-cell;
    text-align: left;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 40px;
    width: 1000;
  }

  .product-showcase{
    display: table-cell;
    padding-left: 7px;
    padding-right: 100px;
  }
  .slogan {
    color: white;
  }
  .product-description{
    font-size: 1.5em;
    padding-right: 150px;
  }
  h1{
    font-size: 4em;
    font-weight: bold;
  }
  h2{
    font-size: 2em;
    font-weight: bold;
    color: white;
  }

  input{
    opacity: 1;
    font-size: 1em;
    border-radius: 7px;
    margin-right: 5px;
    border-style:solid;
    border-color: lightgray;

  }
  .appstore-btn {
    width: 200px;
    float: left;
    margin-right: 10px;
  }
  .download-btn {
    display: none;
  }
  .playstore-btn {
    width: 200px;
    float: left;
    margin-right: 5px;
  }

  .press-image {
    width: 150px;
    float: left;
    margin: 45px;
  }

  .thanks {
    color: white;
    margin-top: 10px;
  }


    .btn-info, .round {
      border-radius: 10px;
      background-color: #0DC0FF;
    }

    .btn-info:hover {
      background-color: #0D91FF;
      border-color: white;
    }

    .white-button{
      background-color: white;
      border: 0;
      border-radius: 25px;
      color: navy;
    }

    .orange-button {
      background-color: #EF5333;
      border: 0;
      border-radius: 25px;
      color: white;
    }

  #top-container{
    padding-bottom: 60px;
    overflow: hidden;
    display: table;
    min-height: 95vh;
  }

  #terms-container{
    padding-bottom: 40px;
    overflow: hidden;
    display: block;
    z-index: 2;
    background-color: white;
    padding-left: 100px;
    padding-right: 100px;
  }

  #task-container {
    background-color: #5A37FF;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;

    background: #5A37FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #4E09D3 , #5A37FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #4E09D3 , #5A37FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #4E09D3 , #5A37FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #4E09D3 , #5A37FF); /* Standard syntax */
  }

  #save-container {
    background-color: #18D37E;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;

    background: #18D37E; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #1EC158 , #18D37E); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #1EC158 , #18D37E); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #1EC158 , #18D37E); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #1EC158 , #00E682); /* Standard syntax */
  }

  #shop-container {
    background-color: #0DC0FF;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;

    background: #0DC0FF; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #0D88F7 , #0DC0FF); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, #0D88F7 , #0DC0FF); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, #0D88F7 , #0DC0FF); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, #0D88F7 , #0DC0FF); /* Standard syntax */
  }

  #press-container {
    background-color: white;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;
  }

  #bottom-container {
    background-color: #21252B;
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;
    color: white;
  }




  .social {
    color: white;
  }

  body {
    font-family: sans-serif;
    font-weight: 100;
    z-index: 0;

    background-image: url("https://static.pexels.com/photos/8986/pexels-photo.jpeg"); /* For browsers that do not support gradients */
    background-image: url("../assets/bg-image.png");
    background-size:contain;
    background-color: -webkit-linear-gradient(left, #EF5333 , #FB2C55) ; /* For Safari 5.1 to 6.0 */
    background-color: -o-linear-gradient(right, #EF5333 , #FB2C55);  /*For Opera 11.1 to 12.0 */
    background-color: -moz-linear-gradient(right, #EF5333 , #FB2C55); /* For Firefox 3.6 to 15 */
    background-color: linear-gradient(to right, #EF5333 , #FB2C55); /* Standard syntax

    background-color:
    /* top, transparent red
    linear-gradient(
      rgba(239, 83, 51, 0.75),
      rgba(251, 44, 85, 0.75)
    )
     your image */
      /* background: linear-gradient( rgba(239, 83, 51, 0.35), rgba(251, 44, 85, 0.35)), url("../assets/pexels-photo.jpeg");
     */
  }

  @media screen and (min-width: 1700px){
    .account-image {
      width: 340px;
      margin-left: 180px;
      margin-top: 200px;
      margin-right: 50px;
    }

    #top-container{
      margin-left: 100px;
    }

    .menu-logo {
      height: 100px;
      padding-left: 45px;
      margin-top: 15px;
      margin-bottom: 10px;
    }

    ul#menu {
      opacity: 1;
      font-size: 1.5em;
      color: white;
      list-style: none;
      overflow: hidden;
    }

    ul#menu li {
      float:right;
      padding: 20px;
    }

    ul#menu li:hover, ul#menu li.selected{
      color: navy;
      cursor: pointer;
    }

    .orange-button {
      background-color: #EF5333;
      border: 0;
      border-radius: 25px;
      color: white;
      font-size: 1em;
      margin-right: 40px;
    }

    .white-button {
      background-color: white;
      border: 0;
      border-radius: 25px;
      color: navy;
      font-size: 1em;
      margin-right: 40px;
    }

    .detail-column{
      vertical-align: top;
      display: table-cell;
      text-align: left;
      padding-left: 150px;
      padding-right: 150px;
      padding-top: 65px;
      width: 1000;
      color: white;
      font-size: 1.5em;
      font-weight: 500;
    }

    .left-iphone-image {
      width: 340px;
      margin-left: 350px;
      margin-top: 50px;
      display: block;
    }
    .right-iphone-image {
      width: 340px;
      margin-right: 350px;
      margin-top: 50px;
      display: block;
    }

    .first-column{
      margin-right: 400px;
      margin-top: 300px;
    }
    .slogan{
      margin-right: 400px;
      padding-right: 200px;
    }
    .product-description{
      margin-right: 350px;
    }

    h1{
      font-size: 5em;
      font-weight: bold;
    }

  }

}
