

.btn:hover {
  background: #0DC0FF;
}

.deposit:hover {
  background: #18D37E;
}


.btn {
  color: white;
  background: #0DC0FF;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 1px;
  margin-top: 10px;
  
}

.deposit {
  margin-top: 16px;
  border-radius:100px;
  background-color: #18D37E;
  font-style: helvetica;
  width: 75%;
  height: 120px;
  text-transform: capitalize;
  font-size: 3.5em;
}

.digit-btn {
  border-radius:100px;
  padding-left: 8px;
  padding-right: 8px;
  width: 25%;
  height: 130px;
  font-size: 3.5em;
}

.amount {
  font-size: 6em;
  color: navy;
  font-weight: bold;
  margin-top: 40px;
}


::-webkit-input-placeholder {
    color: navy;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: navy;
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: navy;
    opacity: 1 !important;
}

:-ms-input-placeholder {
   color: navy;
}


