
@media screen and (min-width: 720px){

  .loader {
    background-color: #FF4D38;
  }

  .history-bar {
    color: white;
    font-style: helvetica;
    font-weight: bold;
    font-size: 6em;
    background-color: #FF4D38;
    height: 150px;
    position: fixed;
    width: 100%;
  }

  .balance {
    margin-top: 150px;
  }


  .title {
    position: relative;
    top:20px;
  }

  .settings {
    background-color: transparent;
    width: 65px;
    height: 65px;
    position: fixed;
    top:50px;
    left: 30px;
  }

  .back {
    background-color: transparent;
    width: 75px;
    height: 75px;
    position: fixed;
    top:40px;
    left: 20px;
  }

  .keyboard {
    position: absolute;
    bottom: 15%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }

  .trans-name {
    table-layout: fixed;
    width: 70%;

  }  

  .make-deposit {
    color: white;
    font-size: 6.5em;
    background-color: #FF4D38;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
  }

  .trans-amount {
    margin-right: 30px;
    float: right;
  }

  .logout-btn {
    color: white;
    font-size: 50px;
    position: fixed;
    width: 200px;
    background-color: transparent;
    top:5px;
    right: 30px;
  }

}