.box {
  background: white;
  max-width: 360px;
  margin: 10px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

body {
  background: #FF4D38;
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

  background: linear-gradient(to right, #EF5333 , #FB2C55); 


}

img {
  max-width: 170px;
}

.btn {
  color: white;
  background: #FF4D38;
  margin-bottom: 25px;
  margin-left: 5px;
  min-width: 150px;
  min-height: 70px;
}

.btn:hover {
  background: #5A37FF;
}

.btn-blue {
  background: #0DC0FF;
}

.btn-green {
  background: #3DD87F;
}


::-webkit-input-placeholder {
    color: navy;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: navy;
    opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: navy;
    opacity: 1 !important;
}

:-ms-input-placeholder {
   color: navy;
}




}
