
@media screen and (min-width: 720px){

  .loader {
    background-color: #5A37FF;
  }

  .tasks-bar {
    color: white;
    font-style: helvetica;
    font-weight: bold;
    font-size: 6em;
    background-color: #5A37FF;
    height: 150px;
    position: fixed;
    width: 100%;
  }

  #tasksData {
    margin-top: 200px;
  }

  td {
    height: 200px;
  }

  .title {
    position: relative;
    top:20px;
  }

  .add-task {
    color: white;
    font-size: 6.5em;
    background-color: #5A37FF;
    width: 100px;
    height: 100px;
    position: fixed;
    top:5px;
    right: 10px;
  }

  .back {
    background-color: transparent;
    width: 75px;
    height: 75px;
    position: fixed;
    top:40px;
    left: 20px;
  }

  .task-name {
    font-size: 3.5em;
  }

  .task-amount {
    font-size: 3.5em;
  }

  .pay-task {
    width: 200px;
    font-size: 3em;
    font-weight: bold;
    border-radius: 100px;
    border-color: #0D91FF;
    background-color: transparent;
    color: red;
    border-width: 10px;
    padding: 20px 0;
  }

  .new-task {
    background-color: #5A37FF;
  }

  input {
    background: white;
    box-sizing: border-box;
    border: 10px solid #0D91FF;
    border-radius: 100px;
    color: #0D91FF;
    height: 120px;
    width: 200px;
    
  }


  /*.thumbnail {
    width:270px;
    height:270px; 
    margin-left: 10px;
    margin-right: 10px;
  }


  .delete-button {
    width: 70px;
    height: 70px;
    font-size: 50px;
    background-color: #FB2C55;
    float: right; 
    margin-top: 0px; 
    margin-left: 10px;  
  }

  .nest-btn {
    width: 100px;
    height: 100px;
    font-size: 50px;
    background-color: #3DD87F;
    color: white;
    margin-right: 30px; 

  }

  .percentage {
    color: #3DD87F;
    font-size: 3.5em;
    right: 5px;
  }

  .buy-btn {
    width: 250px;
    font-size: 50px;
    border-radius: 100px;
    border-color: #0D91FF;
    background-color: transparent;
    color: #0D91FF;
    border-width: 10px;

  }*/

  /*.right {
    float: right;
  }*/

}